Package: meshchat
Version: 0.7b2
Depends: curl, apache2
Provides: 
Source: package/meshchat
Section: net
Priority: optional
Maintainer: Trevor Paskett (K7FPV)
Architecture: all
Description: P2P distributed chat for mesh networks
